* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clicker {
  height: 10vh;
  background-color: rgb(51, 50, 50);
}
.heading {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 5px 5px;
}
.count-box-main{
    border: 1px solid  black;
}
button{
    border: 1px solid black !important;
    font-size : 2em !important;
    font-weight: bold !important;
}
button:hover{
    transform: scale(1.1);
}